/* src/assets/styles/utils/_vars.scss  */

$black: #000000;
$black-33: #333333;
$white: #ffffff;
$gray-f5: #f5f5f7;
$gray-ef: #efefef;
$gray-da: #dadada;
$blue-22: #223549;
$pink: #f7528e;
$pink-f6: #f6c5d7;
$yellow: #ffe465;
$purple: #9d59a2;
$purple-db: #dbc7dd;
$light-blue: #32bdf2;
$light-blue-c3: #c3ecfc;
