header.header
	.container.header__container
		.header__logo
			a(href='/')
				img(src=require('images/logo.svg'), alt="")
		nav
			li
				a(href='/') Главная
			li
				a.anchor(href='#about') О приложении
			li
				a.anchor(href='#help') Ваша помощь
			li
				a.anchor(href='#fond') Фонд
			li
				a.anchor(href='#facts') Цифры и факты
			li
				a.anchor(href='#faq') Вопросы
		.header__group
			a.header__button.button.button--small(href='#', target='_blank') Хочу помочь
			a.header__link(href='https://brightlifefund.ru/', target='_blank') Сайт Яркая жизнь
		.header__burger.js-menu-open
			span
